/* admonition icons */
i.fa[title="Note:"] {
  font-family: inherit;
}

.navbar-link::after {
    border-width: 0 0 1px 1px;
    border-style: solid;
    content: "";
    display: block;
    height: .5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: .5em;
    margin-top: -.375em;
    right: 1.125em;
    top: 50%;
    visibility: hidden;
}

body {
  font-family: 'Bitter', serif;
}

i.fa[title="Important:"] {
  font-family: inherit;
}

i.fa[title="Warning:"] {
  font-family: inherit;
}

.nav-panel-menu {
  background-color: #efefef;
}
/* Branding logo first child */
.navbar-brand .navbar-item:first-child:not(:last-child) {
  font-size: 1.6rem;
  font-weight: 500;
}
/* Branding logo last child */
a.last-child {
  font-size: 1.4rem;
  font-weight: 300;
}

 Nav menu 
.nav-menu {
  background-color: #efefef;
  line-height: 22px;
  padding: 0.25rem 0.5rem;
}

.nav-menu a {
  color: #0a322c;
  font-weight: 500;
}

.navbar-link {
  background-color: hsl(198, 100%, 15%);
}

.navbar-end .navbar-link:hover {
  background: hsl(198, 0%, 91%) ;
  color: hsl(198, 0%, 40%);
}

.nav-container {
  width: max-content;
  min-width: 15rem;
}

/* navbar background color */
.navbar {
  background-color: hsl(198, 100%, 15%);
}

/* Tool bar */
.toolbar a {
  color: #0C322C;
}

.toolbar .edit-this-page a {
  color: #0C322C;
}

.toolbar {
  background-color: #efefef;
}

/* Left Nav Link styles  */
.is-current-page>.nav-link, .is-current-page>.nav-text {
  font-weight: 700;
  color: #fff;
  background-color: #00364d;
  padding-left: 6px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1.8;
}

/* Link hover */
a:hover {
  color: #0C322C;
  text-decoration: underline;
}

.toc-link.is-active-link {
  font-weight: 600;
  color: #0C322C;
}

.doc a, .doc a:visited {
  color: #00364d;
  
}

.doc pre.highlight code, .doc pre:not(.highlight) {
background-color: #0a322c;
  border-radius: 12px;
}

/* Plain links in paragraphs and body */
.doc a.bare {
  color:  #00364d;
  font-weight: 500;
}

.doc a.bare :hover {
  color: #00364d;
}

/* TOC links and heading links */
.doc a, .doc a:visited {
  color: #00364d;
}

.doc a:hover {
  color: #00364d;
}

.doc .listingblock pre:not(.highlight), .doc .literalblock pre, .doc pre.highlight code {
  background: #0c322c;
  -webkit-box-shadow: inset 0 0 1.75px #e1e1e1;
  box-shadow: inset 0 0 1.75px #e1e1e1;
  display: block;
  overflow-x: auto;
  padding: .75rem;
  color: #bfcbfb;
  border-radius: 0;
}

/* Heading colors in article */
h1.page {
  color: #0C322C;
  background-color: #efefef;
}

.doc h2 {
  color: #0C322C;
}

.doc h3 {
  color: #0C322C;
}

.nav-menu h3.title {
  padding: 0.5rem 0 0.125em;
  background-color: #efefef;
}
/* Text legibility */
html, body {
  text-rendering: optimizeLegibility;
}

aside.toc.sidebar {
  flex-basis: 16rem;
}

/* color for pre literal boxes code should use [source, language]*/
pre {
  color: #90EBCC;
  border-radius: 12px;
}

/* asciidoc button unset parenthesis and weight */
.doc b.button::before {
  content: unset;
}

.doc b.button::after {
  content: unset;
}

.doc b.button {
  font-style: normal;
  font-weight: 600;
  border-bottom: 1px solid #c0c2c4;
}

.sidebar .toc-menu a:hover {
  color: #0C322C;
  background-color: #EFEFEF;
  text-decoration: underline;
}

.sidebar .toc-menu a {
  color: #0C322C;
  max-width: fit-content;
}

.sidebar.toc .toc-menu a {
  padding-top: 10px;
}

.toc.sidebar .toc-menu h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 4.5rem;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  font-size: 1.4rem;
  justify-content: flex-end;
}

.toc .toc-menu a {
  border-left: unset;
}

.toc .toc-menu h3 {
  font-weight: 600;
}

.breadcrumbs li::after {
  content: "/";
  padding: 0 .5rem;
  color: #30BA78;
}

nav.pagination a {
  font-weight: 500;
  line-height: 1.3;
  position: relative;
  color: #0C322C;
  border: 0.2rem solid #dedfe0;
  padding: 1.5rem;
  width: 100%;
  font-style: italic;
}

nav.pagination a {
  color: #0c322c;
  border-color: #dedfe0;
}

nav.pagination a :hover {
  color: #0c322c;
  border-color: #c0c2c4;
}

nav.pagination a::after, nav.pagination a::before {
  color: #0c322c;
  top: unset;
}

nav.pagination span::before {
  color: #0C322C;
  font-size: .75em;
  padding-bottom: .1em;
}

/* Table */
td, p {
  color:#0c322c;
}

tr:last-child {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #c0c2c4;
}

.doc table.tableblock thead th {
  border-bottom: 2.5px solid #c0c2c4;
  padding: .5rem;
  background: #dedfe0;
  border-right: solid 0.5px #c0c2c4;
  border-top: solid 0.5px #c0c2c4;
  border-left: solid 0.5px #c0c2c4;
}

.doc table.tableblock>:not(thead) th,
.doc table.tableblock td {
  border-left: solid 1px #c0c2c4;
  border-right: solid 1px #c0c2c4;
  padding: .5rem;
}

tr:nth-child(even) {
  background: #9a9a9a26;
}

.doc .admonitionblock>table {
  border-collapse: unset;
}

.doc p code {
  font-family: "Roboto Mono", "RobotoMono", "DejaVu Sans Mono", "DejaVuSansMono", "Menlo", "Andale Mono", monospace;
  border-bottom: 1px solid #c0c2c4;
  color: #0C322C;
  font-weight: 600;
  background-color: unset;
  border-radius: unset;
}

.doc p {
  margin: 0 0 60px 0;
  padding: 0 0 0 0;
}

/* dd lists*/
.doc .dlist dt {
  font-style: italic;
  font-weight: 600;
}
.doc dl, .doc p {
  margin: 0 0 17px 0;
  padding: 0 0 0 5px;
}

.admonitionblock.note {
  border-style: solid;
  border-color: #192072;
}

.doc .admonitionblock.note .icon {
  float: left;
  height: 36px;
  margin-top: 40px;
  margin-left: 1.5rem;
  padding-left: 1rem;
  /* padding-right: 3rem; */
  background-image: url(../img/icon-note.svg);
  background-color: unset;
  background-repeat: no-repeat;
}

.doc .admonitionblock .icon i::after {
  content: attr(title);
  padding-left: 20px;
  color: #0c322c;
  font-weight: 600;
  font-family: 'Poppins';
}

.doc .admonitionblock .icon i {
  margin-left: 0.5rem;
}

.doc .admonitionblock td.content {
  padding-top: 4.5rem;
}

/* Important block styles */
.admonitionblock.important {
  border-style: solid;
  border-color: #2453ff;
}

.doc .admonitionblock.important .icon {
  float: left;
  height: 36px;
  margin-top: 40px;
  margin-left: 1.5rem;
  padding-left: 1rem;
  background-image: url(../img/important.svg);
  background-color: unset;
  background-repeat: no-repeat;
}

/* Warning block styles */
.admonitionblock.warning {
  border-style: solid;
  border-color: #fe7c3f;
}

.doc .admonitionblock.warning .icon {
  float: left;
  height: 36px;
  margin-top: 40px;
  margin-left: 1.5rem;
  padding-left: 1rem;
  background-image: url(../img/warning.svg);
  background-color: unset;
  background-repeat: no-repeat;
}

/* List style */

.arabic {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.arabic {
  counter-reset: step-counter;
  margin-bottom: 10px;
}

ol.arabic>li {
  counter-reset: nest;
}

.arabic ol>li:before {
 /* counter-increment: step-counter;
  content: counter(step-counter); */
  margin-right: -26px;
  margin-top: -3px;
  font-size: 100%;
  color: #0C322C;
  /* background-color: #0C322C; */
  font-weight: bold;
  padding: 5px 12px;
  /* border-radius: 18px; */
  float: left;
}

.doc ol.arabic {
 /* list-style-type: none;*/
  background-color: #EFEFEF;
  padding: 25px;
  padding-left: 70px;
  padding-right: 50px;
  border-left: 0.5rem solid #dedfe0;
}

ul {
  list-style-type: disc;
}

.ulist li::before {
  content: none;
  padding: 1px 3px;
  font-size: 50%;
}

.doc .olist li,
.doc .ulist li {
  margin-bottom: 3rem;
  margin-top: 16px;
}

.olist p {
  display: flow-root;
}

.title .quoteblock {
  color: white;
  font-weight: 500;
  padding-left: 15px;
  background-color: #0C322C;
  font-family: 'Poppins';
  padding-top: 10px;
  padding-bottom: 10px;
}

/* toc formatting */
ul.sectlevel1 {
  background-color: white;
}

.doc .olist li, .doc .ulist li {
  margin-bottom: 2rem;
  margin-top: 16px;
}
.doc .admonitionblock .title {
 color: white; 
 margin-bottom: 20px;
 padding-bottom: 10px;
 font-weight: 600;
}

.doc {
  max-width: 56rem;
}

.doc .listingblock pre:not(.highlight) {
  color: #c7f1e3;
}

::marker {
  color: #00364d;
  font-size: large;
  font-weight: 500;
}

.doc .quoteblock, .doc .verseblock {
  background: #efefef;
  border-left: 5px solid #5d5d5d;
  color: #5d5d5d;
}

.doc .quoteblock blockquote {
  margin-top: 1rem;
  color: #d50000;
}

.doc .quoteblock .attribution {
  color: #d50000;
  font-size: .83333rem;
  margin-top: .75rem;
}

ul.bibliography {
  font-style: italic;
}

div.title {
  font-size: 1.5em;
  color: #00364d;
  padding-top: 20px;
}

.doc {
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  font-size: larger;
  margin: 0 2rem;
  max-width: 46rem;
  min-width: 0;
}
